<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document Detail</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script>
    // When the user clicks the button, reveal the segmentation details and hide the button.
    function showSegmentation() {
      document.getElementById('segmentation').style.display = 'block';
      document.getElementById('extracted-text').style.display = 'block';
      document.getElementById('extract-btn').style.display = 'none';
    }
  </script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('upload_image_doc') }}">Demo</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <h1>Document Detail</h1>
    <div class="detail-container">
      <!-- Display the full original image -->
      <img class="detail-image" src="{{ url_for('static', filename='documents/images/' ~ detail.image) }}" 
      style="width: 400px; height: auto; max-height: 300px; display: block; margin: 10px auto;"
      alt="Document image"
      onclick="toggleSize(this)">

      
      <!-- Button to reveal segmentation details -->
      <button id="extract-btn" onclick="showSegmentation()">Segmentation Text Extraction</button>
      
      <!-- Segmented image (hidden initially) -->
      <div id="segmentation" style="display: none;">
        <h2>Segmented Image</h2>
        <img class="detail-image" src="{{ url_for('static', filename='documents/segments/' ~ detail.ocr_image) }}"
         alt="Segmented Image"
         style="width: 400px; height: auto; max-height: 300px; display: block; margin: 10px auto;"
         onclick="toggleSize(this)">

      </div>
      
      <!-- Extracted text (hidden initially) -->
      <div id="extracted-text" style="display: none;">
        <h2>Extracted Text</h2>
        <pre>{{ detail.extracted_text }}</pre>
      </div>
    </div>
  </main>
  
  <footer>
    <p>&copy; 2025 All rights reserved.</p>
  </footer>
</body>

<script>
    function toggleSize(img) {
      if (img.style.width === "400px") {
        img.style.width = "800px";  // Expand image
        img.style.maxHeight = "600px";
      } else {
        img.style.width = "400px";  // Shrink back to original size
        img.style.maxHeight = "300px";
      }
    }
  </script>
</html>
